*.pyc
*.py~
*.zip
config.txt
*.set
data/
scripts/*
settings/*
scratch/*
!scratch/README.txt
!settings/demo_dice.txt
!scripts/script.py
LabDrivers/ArduinoUno.py
scripts/script.py
config_*
!config_generate.py
htmlcov/
.tox/
.idea/
venv*/
build/
StartLabGui*
labgui.egg-info
bin/
dist*
*.dump
